config.json

# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore environment variables
.env

# Ignore Git files
.git
.gitignore

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore IDE files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db
